span.site-name.can-hide, .repo-link {
    display: none!important;
}

table {
    margin: 0 !important;
    display: table !important;
    text-align: center;
}

.q-table th {
    opacity: 1 !important;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}